Importing the Requried Library

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
ad_data = pd.read_csv('/content/train.csv')

In [ ]:
ad_data['Total_income'] = ad_data['ApplicantIncome']+ ad_data['CoapplicantIncome']

In [ ]:
ad_data.describe().round(2)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Total_income
count,613.00,613.00,591.00,599.00,563.00,613.00
mean,5408.27,1620.08,146.35,341.97,0.84,7028.36
std,6112.87,2928.50,85.65,65.17,0.36,6463.30
min,150.00,0.00,9.00,12.00,0.00,1442.00
25%,2882.00,0.00,100.00,360.00,1.00,4166.00
50%,3813.00,1167.00,128.00,360.00,1.00,5417.00
75%,5800.00,2283.00,167.50,360.00,1.00,7535.00
max,81000.00,41667.00,700.00,480.00,1.00,81000.00

In [ ]:
ad_data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
Total_income          0
dtype: int64

In [ ]:
ad_data.Self_Employed.value_counts(dropna=False)

No     499
Yes     82
NaN     32
Name: Self_Employed, dtype: int64

In [ ]:
ad_data['Self_Employed'] = ad_data['Self_Employed'].fillna('No')

In [ ]:
ad_data.Self_Employed.value_counts(dropna=False)

No     531
Yes     82
Name: Self_Employed, dtype: int64

In [ ]:
ad_data['Self_Employed'] = ad_data.Self_Employed.replace('Yes',1).replace('No',0).astype('int64')

In [ ]:
ad_data['LoanAmount']=ad_data['LoanAmount'].fillna(128).astype('int64')

In [ ]:
ad_data['Loan_Amount_Term'] = ad_data['Loan_Amount_Term'].fillna(360).astype('int64')

In [ ]:
ad_data['Credit_History'] = ad_data['Credit_History'].fillna(0).astype('int64')

In [ ]:
ad_data.Gender.value_counts(dropna=False)

Male      488
Female    112
NaN        13
Name: Gender, dtype: int64

In [ ]:
ad_data['Gender']=ad_data.Gender.replace('Male',1).replace('Female',2).fillna(0).astype('int64')

In [ ]:
ad_data.Gender.value_counts(dropna=False)

1    488
2    112
0     13
Name: Gender, dtype: int64

In [ ]:
ad_data.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
Total_income          0
dtype: int64

In [ ]:
ad_data.Dependents.value_counts(dropna=False)

0      344
1      102
2      101
3+      51
NaN     15
Name: Dependents, dtype: int64

In [ ]:
ad_data['Dependents'] = ad_data.Dependents.replace('3+',3 ).fillna(0).astype('int64')

In [ ]:
ad_data.Dependents.value_counts(dropna=False)

0    359
1    102
2    101
3     51
Name: Dependents, dtype: int64

In [ ]:
ad_data.Married.value_counts(dropna=False)

Yes    397
No     213
NaN      3
Name: Married, dtype: int64

In [ ]:
ad_data['Married'] = ad_data.Married.replace('Yes', 1).replace('No',0).fillna(0).astype('int64')

In [ ]:
ad_data.Married.value_counts(dropna=False)

1    397
0    216
Name: Married, dtype: int64

**Now the Entire data in clean**

In [ ]:
ad_data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
Total_income         0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
ad_data.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents             int64
Education             object
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount             int64
Loan_Amount_Term       int64
Credit_History         int64
Property_Area         object
Loan_Status           object
Total_income         float64
dtype: object

In [ ]:
X = ad_data[['Gender', 'Married', 'Dependents',
             'Self_Employed', 'Total_income','ApplicantIncome', 'CoapplicantIncome',
             'LoanAmount','Loan_Amount_Term', 'Credit_History']]
Y = ad_data['Loan_Status']

In [ ]:
ad_data.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status',
       'Total_income'],
      dtype='object')

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [ ]:
X.shape

(613, 10)

In [ ]:
Y.shape

(613,)

In [ ]:
X_train.shape

(490, 10)

In [ ]:
Y_train.shape

(490,)

In [ ]:
X_test.shape

(123, 10)

In [ ]:
Y_test.shape

(123,)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
ad_data.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents             int64
Education             object
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount             int64
Loan_Amount_Term       int64
Credit_History         int64
Property_Area         object
Loan_Status           object
Total_income         float64
dtype: object

In [ ]:
logmodel = LogisticRegression(max_iter=10000)
logmodel.fit(X_train,Y_train)

LogisticRegression(max_iter=10000)

**Predicitions and Evaluations**

In [ ]:
predictions = logmodel.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(Y_test,predictions))

              precision    recall  f1-score   support

           N       0.79      0.56      0.66        39
           Y       0.82      0.93      0.87        84

    accuracy                           0.81       123
   macro avg       0.80      0.75      0.76       123
weighted avg       0.81      0.81      0.80       123

Now Testing the Test Data

In [ ]:
predictions_train = logmodel.predict(X_train)
print(classification_report(Y_train,predictions_train))

              precision    recall  f1-score   support

           N       0.67      0.47      0.55       152
           Y       0.79      0.90      0.84       338

    accuracy                           0.76       490
   macro avg       0.73      0.68      0.69       490
weighted avg       0.75      0.76      0.75       490

In [ ]:
logmodel.score(X_test,Y_test).round(2)

0.81

In [ ]:
logmodel.coef_

array([[ 3.51693757e-02,  4.58900710e-01, -1.99926541e-02,
         4.44378642e-02, -1.11997099e-05,  1.70914195e-05,
        -2.82911286e-05, -7.10482084e-04, -2.03215227e-03,
         1.80063306e+00]])